{% schema %}
{
	"name": "Sidebar",
	"tag": "aside",
	"class": "sidebar",
	"settings": [
		{
		"type":"text",
		"id": "sidebar_title",
		"label": "Sidebar Title",
		"default": "Enter title here"
	},
	{
		"type":"textarea",
		"id": "sidebar_content",
		"label": "Sidebar Content",
		"default": "Enter content here"
	}
]
}
{% endschema %}

{% style %}
main {
	display: grid;
	grid-template-columns: minmax(0, 1000px) minmax(0, 400px);
	justify-content: center;
}
{% endstyle %}

<h2>{{ section.settings.sidebar_title }}</h2>
<p>{{ section.settings.sidebar_content }}</p>